<? if ($pageCount): ?>

<nav class="catalog-pagination-container">
    <ul class="pagination clearfix">
        <? if (isset($previous)): ?>
        <li>
            <a href="<?= url_for(null, ['id' => $id, 'slug' => $slug, 'page' => $previous], ['query' => $queryParams]) ?>" aria-label="Previous">
                <span class="icon-chevron-left"></span> Назад
            </a>
        </li>
        <? endif ?>

        <? foreach($pagesInRange as $page): ?>
        <li>
            <? if ($current === $page): ?>
            <a href="#"><strong><?= $page ?></strong></a>
            <? else: ?>
            <a href="<?= url_for(null, ['id' => $id, 'slug' => $slug, 'page' => $page], ['query' => $queryParams]) ?>"
               rel="prefetch">
                <?= $page ?>
            </a>
            <? endif ?>
        </li>
        <? endforeach ?>

        <? if (isset($next)): ?>
        <li>
            <a href="<?= url_for(null, ['id' => $id, 'slug' => $slug, 'page' => $next], ['query' => $queryParams]) ?>" aria-label="Next">
                Вперед <span class="icon-chevron-right"></span>
            </a>
        </li>
        <? endif ?>
    </ul>
</nav>

<? endif ?>