<div class="price-box">
    <ul>
        <li>
            <span class="icon-file-excel" aria-hidden="true"></span>
            <a href="<?= url_for('price_list/download_excel') ?>">
                Скачати файл excel
            </a>
        </li>
        <li>
            <span class="icon-file-pdf" aria-hidden="true"></span>
            <a href="<?= url_for('price_list/download_pdf') ?>">
                Скачати файл pdf
            </a>
        </li>
    </ul>
</div>