.tree-container {
  border-right: 2px solid #ececec;
  display: inline-block;
  float: left;
  height: 100vh;
  min-width: 200px;
  overflow: auto;
  padding: 10px 10px 10px 0;

  .hidden {
    display: none;
  }

  .search-container {
    margin: 4px 0 16px;

    input {
      background-color: #ffffff;
      border: 1px solid #cccccc;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      color: #555555;
      display: inline-block;
      padding: 4px 6px;
      transition: border linear 0.2s, box-shadow linear 0.2s;
      width: 90%;
    }

    .submit:focus {
      border-color: rgba(82, 168, 236, 0.8);
      outline: 0;
      outline: thin dotted \9;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    }

    button {
      background: #fff;
      border: none;
      outline: none;
      padding: 2px 6px;
      margin-left: -32px;
    }

  }
}

.tree {
  list-style: none;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .root-container .root-title:before,
  .node-container .container-title:before,
  .node-container.active:before,
  .node-container.expand.active:before,
  .node-container.expand > .container-title:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-weight: bold;
    margin-right: 5px;
  }

  .node-container, .root-container {
    text-decoration: none !important;

    &.expand {
      & > ul {
        display: block;
      }
      & > .container-title:before {content: "\f115";} /* expanded */

      li:hover {
        text-decoration: underline;
      }
    }

    &.active {
      &.expand > .container-title:before {content: "\f07c"; font-weight: normal} /*expanded and active */
      & > .container-title:before {content: "\f07b";} /*collapsed and active */
    }

    .container-title {
      display: inline-block;
      max-width: 160px;
      overflow: hidden;
      white-space: nowrap;

      &:before {content: "\f114";} /* collapsed */

      &:hover {
        text-decoration: underline;
      }

      &:before:hover {
        text-decoration: none !important;
      }
    }

    ul {
      display: none;
      list-style: none;
    }
  }

  & .root-container .root-title,
  & .node-container .container-title,
  & .node-container li {
    cursor: pointer;
    font-size: 14px;
  }

  .root-container {
    &>ul {
      list-style: none;
      padding-left: 20px;
    }

    &.active .root-title:before {
      content: "\f07c";
      font-weight: bold;
    }

    .root-title:before {
      content: "\f115";
      font-weight: bold;
    }
  }
}
