[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoonIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-to-list:before {
  content: "\e900";
}
.icon-chevron-down:before {
  content: "\e901";
}
.icon-chevron-left:before {
  content: "\e902";
}
.icon-chevron-right:before {
  content: "\e903";
}
.icon-chevron-small-down:before {
  content: "\e904";
}
.icon-chevron-small-left:before {
  content: "\e905";
}
.icon-chevron-small-right:before {
  content: "\e906";
}
.icon-chevron-small-up:before {
  content: "\e907";
}
.icon-flow-tree:before {
  content: "\e908";
}
.icon-trash:before {
  content: "\e909";
}
.icon-area-graph:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e90b";
}
.icon-clipboard:before {
  content: "\e90c";
}
.icon-globe:before {
  content: "\e90d";
}
.icon-grid:before {
  content: "\e90e";
}
.icon-home:before {
  content: "\e90f";
}
.icon-list:before {
  content: "\e910";
}
.icon-magnifying-glass:before {
  content: "\e911";
}
.icon-new-message:before {
  content: "\e912";
}
.icon-new:before {
  content: "\e913";
}
.icon-old-phone:before {
  content: "\e914";
}
.icon-reply:before {
  content: "\e915";
}
.icon-shopping-cart:before {
  content: "\e916";
}
.icon-sound-mix:before {
  content: "\e917";
}
.icon-tools:before {
  content: "\e919";
}
.icon-user:before {
  content: "\e91a";
}
.icon-sort-alpha-asc:before {
  content: "\e91d";
}
.icon-sort-alpha-desc:before {
  content: "\e91e";
}
.icon-sort-numeric-asc:before {
  content: "\e91f";
}
.icon-sort-numberic-desc:before {
  content: "\e920";
}
.icon-download2:before {
  content: "\e918";
}
.icon-file-pdf:before {
  content: "\e91b";
}
.icon-file-excel:before {
  content: "\e91c";
}