//
//  Mixins
// ----------------------------------

// Center-align a block level element
// ----------------------------------
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Sizing shortcuts
// -------------------------
.size(@height, @width) {
  width: @width;
  height: @height;
}

.square(@size) {
  .size(@size, @size);
}

// Reset sides
.reset-sides() {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// Opacity
.opacity(@opacity) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}


.placeholder(@rules) {

  &::-webkit-input-placeholder {
    @rules();
  }
  &:-moz-placeholder {
    @rules();
  }
  &::-moz-placeholder {
    @rules();
  }
  &:-ms-input-placeholder {
    @rules();
  }
}


.placeholder-focus(@rules) {

  &:focus::-webkit-input-placeholder {
    @rules();
  }
  &:focus:-moz-placeholder {
    @rules();
  }
  &:focus::-moz-placeholder {
    @rules();
  }
  &:focus:-ms-input-placeholder {
    @rules();
  }
}

.bidi-border-radius(@h-top-left, @h-top-right, @h-bottom-right, @h-bottom-left, @v-top-left, @v-top-right, @v-bottom-right, @v-bottom-left) {
  border-radius: ~"@{h-top-left} @{h-top-right} @{h-bottom-right} @{h-bottom-left} / @{v-top-left} @{v-top-right} @{v-bottom-right} @{v-bottom-left}";
}


// RETINA IMAGE SUPPORT
// --------------------------------------------------

// Short retina mixin for setting background-image and -size
.img-retina(@file-1x, @file-2x, @width-1x, @height-1x) {
  background-image: url("@{file-1x}");

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and ( min--moz-device-pixel-ratio: 2),
  only screen and ( -o-min-device-pixel-ratio: 2/1),
  only screen and ( min-device-pixel-ratio: 2),
  only screen and ( min-resolution: 192dpi),
  only screen and ( min-resolution: 2dppx) {
    background-image: url("@{file-2x}");
    background-size: @width-1x @height-1x;
  }
}

