//
// Variables
// ---------------------------



// Colors
//----------------------------
@color-main:            #fff;
@color-secondary:       #000;
@color-grey:            #ccc;
@color-light-grey:      #3c3c3c;

@color-button-bg:       #2d2d2d;
@color-main-nav-bg:     #0288d1;
@color-category-nav-bg: @color-main;
@color-separator:       #e2e2e2;

@color-header:          #212121;
@color-header-bg-responsive: @color-light-grey;
@color-list-header-border-bottom: @color-grey;

@color-basic-text:      #414141;
@color-price-text:      #fd7303;
@color-product-available-bg: #f8f8f8;

@color-icon-bg:         @color-header;

@color-footer-nav:      @color-header;

@color-filters-container: #fafafa;

@color-pane-border:     @color-list-header-border-bottom;

@color-active-nav-tabs:  @color-grey;
@color-total-detailed:   @color-active-nav-tabs;

@color-shopping-cart-header-bg: @color-product-available-bg;
@color-form-control-border: #999;

@color-price-download-link: #7193b2;
@color-price-download-link-hover: #7193b2;

// Base
//----------------------------
@body-background:        @color-main;
@base-max-width:         1280px;

@base-column-width:      70px;
@base-gutter-width:      30px;

@column-width:           percentage(@base-column-width/@base-max-width);
@gutter-width:           percentage(@base-gutter-width/@base-max-width);

//
// Variables
// ==========================

// Header ---------------------------
@nav-height:             92px;
@nav-width:              percentage(600/@base-max-width);

@search-width:           percentage(224/@base-max-width);

@lang-container-width:   percentage(134/@base-max-width);


// Aside ---------------------------
@base-aside-max-width:   270px; //  3*@base-column-width + 2*@base-gutter-width;
@aside-container-width:  percentage(@base-aside-max-width/@base-max-width);

// logo
//@logo-width:             @aside-container-width;
// categories list
@category-item-height:   42px;

@base-content-container-width: 870px; //9*@base-column-width + 8*@base-gutter-width
@content-container-width:percentage(@base-content-container-width/@base-max-width);

@base-filters-container-width: 600px; // 6*@base-column-width + 6*@base-gutter-width
@filters-container-width: percentage(@base-filters-container-width/@base-content-container-width);

@base-dropdown-font-size: 16px;
@base-dropdown-menu-item-height: 38px;

@base-dropdown-multiply-font-size: 18px;
@base-dropdown-multiply-item-height: 26px;


@base-list-view-pane-width: 120px;
@base-list-view-pane-height: 32px;
//@list-view-pane-width:     percentage(@base-list-view-pane-width/@base-content-container-width);

@base-pagination-height: 32px;

// Footer ----------------------------
@footer-background:      #fafafa;
@footer-height:          53px;
@footer-height-responsive: 70px;

// Slider ----------------------------
//@slider-height:          450px;
//@slider-img-cont-height: 400px;

// Button ----------------------------
@btn-lg-font-size:       18px;
@btn-lg-height:          36px;

@btn-sm-font-size:       16px;
@btn-sm-height:          30px;
@btn-sm-line-height:     @btn-sm-height;

@base-product-gallery-image-container-height: 440px;
@base-product-gallery-image-container-width: 370px;

@base-form-control-height: 34px;
@base-form-control-width: 430px;
@base-form-label-width: 304px;

// Typography
// -------------------------
@base-font-family:    'MyriadProRegular', Helvetica, Arial, sans-serif;
@base-font-family-bold: 'MyriadProBold', Helvetica, Arial, sans-serif;

@base-font-size:        14px;
@base-font-size-mobile: 12px;
@base-font-weight:      400;
@base-line-height:      20px;

// Media queries breakpoints
// --------------------------------------------------

@screen-360-min:             360px;

// Extra small screen / phone
@screen-480-min:              480px;

// Small screen / tablet
@screen-768-min:              768px;

// Medium screen / desktop
@screen-992-min:              992px;

// Large screen / wide desktop
@screen-1024-min:             1024px;

// Extra large
@screen-1200-min:              1200px;

// So media queries don't overlap when required, provide a maximum
@screen-360-max:             (@screen-480-min - 1);
@screen-480-max:             (@screen-768-min - 1);
@screen-768-max:             (@screen-992-min - 1);
@screen-992-max:             (@screen-1024-min - 1);
@screen-1024-max:            (@screen-1200-min - 1);