<aside>

<!--    <section id="special" class="carousel-container">-->
<!--        <div class="list-header-pane">-->
<!--            <div class="navigation">-->
<!--                <a class="carousel-control prev hide-text icon-chevron-small-up"-->
<!--                   href="/special-prev" rel="nofollow" role="button" data-slide="up">-->
<!--                    Previous-->
<!--                </a>-->
<!--                <a class="carousel-control next hide-text icon-chevron-small-down"-->
<!--                   href="/special-next" rel="nofollow" role="button" data-slide="down">-->
<!--                    Next-->
<!--                </a>-->
<!--            </div>-->
<!---->
<!--            <h1 class="list-header">-->
<!--                <span class="icon-new" aria-hidden="true"></span>-->
<!--                Спецпропозиція-->
<!--            </h1>-->
<!--        </div><!-- /.list-header-pane -->
<!---->
<!--        <div class="carousel-wrapper">-->
<!--            <ul class="carousel" role="listbox" data-visible-count="3">-->
<!--                <li>-->
<!--                    <figure class="special-img">-->
<!--                        <img class="img-responsive" src="/data/special.jpg" alt="Кабачок">-->
<!--                    </figure>-->
<!--                    <h2 class="special-header">-->
<!--                        <a href="">Кабачок</a>-->
<!--                    </h2>-->
<!--                    <div class="new-price">6.50 грн.</div>-->
<!--                    <div class="old-price">8 грн.</div>-->
<!--                    <div class="btn-container">-->
<!--                        <a href="" class="btn btn-sm">-->
<!--                            <span class="icon-shopping-cart" aria-hidden="true"></span>-->
<!--                            У кошик-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <figure class="special-img">-->
<!--                        <img class="img-responsive" src="/data/special.jpg" alt="Кабачок">-->
<!--                    </figure>-->
<!--                    <h2 class="special-header">-->
<!--                        <a href="">Кабачок 2</a>-->
<!--                    </h2>-->
<!--                    <div class="new-price">26.50 грн.</div>-->
<!--                    <div class="old-price">28 грн.</div>-->
<!--                    <div class="btn-container">-->
<!--                        <a href="" class="btn btn-sm">-->
<!--                            <span class="icon-shopping-cart" aria-hidden="true"></span>-->
<!--                            У кошик-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <figure class="special-img">-->
<!--                        <img class="img-responsive" src="/data/special.jpg" alt="Кабачок">-->
<!--                    </figure>-->
<!--                    <h2 class="special-header">-->
<!--                        <a href="">Кабачок 3</a>-->
<!--                    </h2>-->
<!--                    <div class="new-price">36.50 грн.</div>-->
<!--                    <div class="old-price">38 грн.</div>-->
<!--                    <div class="btn-container">-->
<!--                        <a href="" class="btn btn-sm">-->
<!--                            <span class="icon-shopping-cart" aria-hidden="true"></span>-->
<!--                            У кошик-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </li>-->
<!---->
<!--                <li>-->
<!--                    <figure class="special-img">-->
<!--                        <img class="img-responsive" src="/data/special.jpg" alt="Кабачок">-->
<!--                    </figure>-->
<!--                    <h2 class="special-header">-->
<!--                        <a href="">Кабачок 4</a>-->
<!--                    </h2>-->
<!--                    <div class="new-price">46.50 грн.</div>-->
<!--                    <div class="old-price">48 грн.</div>-->
<!--                    <div class="btn-container">-->
<!--                        <a href="" class="btn btn-sm">-->
<!--                            <span class="icon-shopping-cart" aria-hidden="true"></span>-->
<!--                            У кошик-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <figure class="special-img">-->
<!--                        <img class="img-responsive" src="/data/special.jpg" alt="Кабачок">-->
<!--                    </figure>-->
<!--                    <h2 class="special-header">-->
<!--                        <a href="">Кабачок 5</a>-->
<!--                    </h2>-->
<!--                    <div class="new-price">56.50 грн.</div>-->
<!--                    <div class="old-price">58 грн.</div>-->
<!--                    <div class="btn-container">-->
<!--                        <a href="" class="btn btn-sm">-->
<!--                            <span class="icon-shopping-cart" aria-hidden="true"></span>-->
<!--                            У кошик-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <figure class="special-img">-->
<!--                        <img class="img-responsive" src="/data/special.jpg" alt="Кабачок">-->
<!--                    </figure>-->
<!--                    <h2 class="special-header">-->
<!--                        <a href="">Кабачок 6</a>-->
<!--                    </h2>-->
<!--                    <div class="new-price">66.50 грн.</div>-->
<!--                    <div class="old-price">68 грн.</div>-->
<!--                    <div class="btn-container">-->
<!--                        <a href="" class="btn btn-sm">-->
<!--                            <span class="icon-shopping-cart" aria-hidden="true"></span>-->
<!--                            У кошик-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div><!-- /.carousel-wrapper -->
<!--    </section><!-- /#special -->
</aside><!-- /aside -->