<footer>
    <div class="container">

        <div class="phone">
            <span class="icon-old-phone" aria-hidden="true"></span>
            +38(097) 245-00-37
        </div>

        <nav>
            <ul>
                <li>
                    <a href="<?= url_for('home') ?>">Головна</a>
                </li>
                <li>
                    <a href="#">Знижки</a>
                </li>
                <li>
                    <a href="#">Виробники</a>
                </li>
                <li>
                    <a href="<?= url_for('price_list') ?>">Прайс-листи</a>
                </li>
                <li>
                    <a href="#">Кошик</a>
                </li>
            </ul>
        </nav>

    </div><!-- /.container -->
</footer><!-- /footer -->