<header class="clearfix">
    <div class="container">

        <div class="logo-container">
            <div class="logo">
                <a href="<?= base_url() ?>/">
                    <img class="img-responsive" src="<?= base_url() ?>/img/yato.png" alt="Продукти купив? З Європи">
                </a>
            </div>

            <div class="phone">
                <span class="icon-old-phone" aria-hidden="true"></span> +38(097) 245-00-37
            </div>
        </div>

        <nav>
            <ul>
                <li>
                    <a href="<?= url_for('home') ?>">
                        <span class="icon-home" aria-hidden="true"></span>
                        Головна
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-new" aria-hidden="true"></span>
                        Знижки
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-tools" aria-hidden="true"></span>
                        Виробники
                    </a>
                </li>
                <li>
                    <a href="<?= url_for('price_list') ?>">
                        <span class="icon-download2" aria-hidden="true"></span>
                        Прайс-листи
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="goods-number">0</span>
                        <span class="icon-shopping-cart" aria-hidden="true"></span>
                        Кошик
                    </a>
                </li>
            </ul>
        </nav>

        <div class="search-container">

            <form id="search-box" class="search-box clearfix" method="get" action="<?= url_for('product_search/get') ?>">
                <input type="search" name="keyword" placeholder="Пошук" results="5">
                <button class="icon-magnifying-glass hide-text" type="submit">
                    <!--<span class="" aria-hidden="true"></span>-->
                    Шукати
                </button>
            </form>

            <div class="advanced-search-container">
                <span class="icon-sound-mix" aria-hidden="true"></span>
                <a href="#">Розширений пошук</a>
            </div>

        </div>

        <div class="lang-container">
            <div class="lang-header">
                <span class="icon-globe" aria-hidden="true"></span>
                Виберіть мову
            </div>

            <div class="btn-container">
                <button class="open" id="select-lang" type="button" aria-expanded="false" aria-haspopup="true">
                    Укр
                    <span class="icon-chevron-down" aria-hidden="true"></span>
                </button>
            </div>

            <ul class="dropdown-menu hidden" aria-labelledby="select-lang">
                <li>
                    <a href="#">Укр</a>
                </li>
            </ul>
        </div><!-- /.lang-container -->

    </div>
</header>