<!doctype html>
<html lang="uk">
    <head>
        <meta charset="utf-8">
        <?= capture_content() -> toString('headTitle') ?>

        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <?= capture_content() -> toString('headMeta') ?>

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="author" href="/humans.txt" />
        <link rel="stylesheet" href="/css/main-v2.min.css">
        <?= capture_content() -> toString('headStyle') ?>

        <script src="<?= base_url() ?>/scripts/vendor/modernizr.min.js"></script>
        <?= capture_content() -> toString('headScript') ?>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="main-container">

            <?= render('index/layout/header') ?>

            <div class="container content-bg clearfix">

                <aside>
                    <?= widget('goods.catalogs_navigation') ?>
                </aside>

                <div id="content-container">
                    <?= $content ?>
                </div><!-- /#content-container -->

                <?= render('index/layout/aside') ?>
            </div><!-- /.container -->

        </div>
        <?= render('index/layout/footer') ?>

        <script src="<?= base_url() ?>/scripts/vendor/jquery-1.11.3.min.js"></script>
        <script src="<?= base_url() ?>/scripts/swipe.dist.min.js"></script>
        <script src="<?= base_url() ?>/scripts/scripts.dist.min.js"></script>
        <?= capture_content() -> toString('bottomScript') ?>
    </body>
</html>