<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow">
        <meta name="description" content="">
        <meta name="author" content="">
<!--        <link rel="shortcut icon" href="">-->

        <title>Signin Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link href="<?= base_url() ?>/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="<?= base_url() ?>/css/signin.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">

            <?= widget('admin.flashMessages') ?>

            <form action="" class="form-signin" method="POST" accept-charset="UTF-8"  >
                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="text" class="form-control" name="login" placeholder="Login" required autofocus>
                <input type="password" class="form-control" name="password" placeholder="Password" required>
<!--                <label class="checkbox">-->
<!--                    <input type="checkbox" value="remember-me"> Remember me-->
<!--                </label>-->
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>

        </div> <!-- /container -->

    </body>
</html>
