<? capture_content() -> start('headMeta'); ?>

    <meta name="robots" content="noindex,follow">

<? capture_content() -> end(); ?>

<P>
    <? if (!$keyword): ?>
        Ви не вказали фразу для пошуку
    <? else: ?>
        Товар з кодом "<?= esc($keyword) ?>" не знайдено
    <? endif ?>
</P>