<div class="products-list-container">
    <? foreach ($goods as $idx => $g): ?>
    <? if ($idx == 0): ?>
    <ul class="products-list-column">
        <li class="pr-item">

            <? elseif ($idx % 4 == 0): ?>
        </li>
    </ul>
    <ul class="products-list-column separator">
        <li class="pr-item">

            <? else: ?>
        </li>
        <li class="pr-item">

            <? endif ?>

            <figure class="pr-image-container">
                <img class="img-responsive" src="
                            <? if (isset($g['image_min'])): ?><?= base_url() . $g['image_min'] ?>
                            <? else: ?> <?= base_url() ?>/img/no-image-icon-70-91.png
                            <? endif ?>
                        " alt="<?= $g['title'] ?>">
            </figure>
            <div class="middle-section">
                <h1 class="pr-header">
                    <a href="<?= url_for('product', ['id' => $g['id'], 'slug' => $g['slug']]) ?>"><?= $g['title'] ?></a>
                </h1>
                <p class="pr-description">
                    <?= $g['description'] ?>
                </p>
                <div class="pr-producer">
                    <strong>Виробник:</strong> <?= $g['producer'] ?>
                </div>
            </div>
            <div class="third-section">
                <div class="pr-available">
                    <? if ($g['quantity']): ?>Товар в наявності<? else: ?>Товар відсутній<? endif ?>
                </div>
                <div class="pr-price">
                    $ <?= $g['price'] ?>
                </div>

                <? if ($g['quantity']): ?>
                    <div class="btn-container">
                        <a href="#" class="btn btn-lg">
                            <span class="icon-shopping-cart" aria-hidden="true"></span>
                            У кошик
                        </a>
                    </div>
                <? endif ?>
            </div>
            <? endforeach ?>
        </li>
    </ul>
</div><!-- /.products-list-container -->