<div id="bestsellers" class="carousel-container">
    <div class="list-header-pane">
        <div class="navigation">
            <a class="carousel-control prev hide-text icon-chevron-small-left" href="/top-prev"
               rel="nofollow" role="button" data-slide="prev">
                Previous
            </a>
            <a class="carousel-control next hide-text icon-chevron-small-right" href="/top-next"
               rel="nofollow" role="button" data-slide="next">
                Next
            </a>
        </div>

        <h1 class="list-header">
            <span class="icon-area-graph" aria-hidden="true"></span>
            Лідери продаж
        </h1>
    </div><!-- /.list-header-pane -->


    <div class="carousel-wrapper">
        <ul class="carousel" data-type="row">

            <? foreach ($bestsellers as $bestseller): ?>
            <li class="item">
                <figure class="image-container">
                    <img class="img-responsive" src="
                        <? if (isset($bestseller['image_min'])): ?><?= base_url() . $bestseller['image_min'] ?>
                        <? else: ?> <?= base_url() ?>/img/no-image-icon-70-91.png
                        <? endif ?>
                        " alt="">
                </figure>

                <h1 class="pr-header">
                    <a href="<?= url_for('product', ['id' => $bestseller['id'], 'slug' => $bestseller['slug']]) ?>">
                        <?= $bestseller['title'] ?>
                    </a>
                    <span class="pr-code">Код: <strong><?= $bestseller['code'] ?></strong></span>
                </h1>

                <p class="pr-description">
                    <?= $bestseller['description'] ?>
                </p>

                <div class="pr-producer">
                    <strong>Виробник:</strong>  <?= $bestseller['producer'] ?>
                </div>

                <div class="pr-available">
                    <? if ($bestseller['quantity'] > 0): ?> Товар в наявності <? else: ?> Товар відсутній <? endif ?>
                </div>

                <div class="pr-price">
                    $ <?= $bestseller['price'] ?>
                </div>

                <? if ($bestseller['quantity'] > 0): ?>
                <div class="btn-container">
                    <a href="#" class="btn btn-lg">
                        <span class="icon-shopping-cart" aria-hidden="true"></span>
                        У кошик
                    </a>
                </div>
                <? endif ?>

            </li>
            <? endforeach ?>

        </ul>
    </div><!-- /.carousel-wrapper -->
</div><!-- #bestsellers -->