<nav>
    <h1 class="category-list-header">
        <span class="icon-list" aria-hidden="true"></span>
        Каталог
    </h1>

    <ul class="category-list">
        <? foreach ($catalogs as $catalog): ?>
        <li>
            <a href="<?= url_for('catalog', ['id' => $catalog['id'], 'slug' => $catalog['slug']]) ?>"><?= $catalog['title'] ?></a>
        </li>
        <? endforeach ?>
    </ul>
</nav><!-- /nav -->