<div id="slider" class="slider">
    <ul>
        <? foreach ($goods as $idx => $g): ?>
        <li class="clearfix <? if ($idx === 0): ?>active animated<? endif ?>">
            <div class="img-container">
                <img class="img-responsive" src="
                    <? if (isset($g['image_medium'])): ?><?= base_url() . $g['image_medium'] ?>
                    <? else: ?> <?= base_url() ?>/img/no-image-icon-340-406.png
                    <? endif ?>
                "  alt="<?= $g['title'] ?>">
            </div>
            <div class="slider-description">
                <h1>
                    <a href="<?= url_for('product', ['id' => $g['id'], 'slug' => $g['slug']]) ?>">
                        <?= $g['title'] ?>
                    </a>
                </h1>

                <p class="description">
                    <?= $g['description'] ?>
                </p>

                <div class="price">
                    $ <?= $g['price'] ?>
                </div>

                <div class="btn-container">
                    <a href="#" class="btn btn-lg">
                        <span class="icon-shopping-cart" aria-hidden="true"></span>
                        У кошик
                    </a>
                </div>
            </div>
        </li>
        <? endforeach ?>
    </ul>

    <div class="navigation">
        <a href="/slider/prev" class="slide-control prev hide-text icon-chevron-small-left"
           rel="nofollow" role="button" data-slide="prev">
            Previous
        </a>
        <a href="/slider/next" class="slide-control next hide-text icon-chevron-small-right"
           rel="nofollow" role="button" data-slide="next">
            Next
        </a>
    </div>

</div><!-- /#slider.slider -->