
<? capture_content() -> start('headTitle'); ?>
    <title>
        <?= $page -> getTitle() ?>
    </title>
<? capture_content() -> end();

   capture_content() -> start('headMeta');
?>
    <meta name="description" content="<?= $page -> getDescription() ?>" />
<? capture_content() -> end();
?>

<section id="<?= $page -> getSlug() ?>" role="main">
    <?= $page -> getContent() -> getParsedText() ?>
</section>