<!--<ol class="breadcrumb">-->
<!--    <li>-->
<!--        <a href="/">-->
<!--            <span class="icon-home"></span>-->
<!--            Euroshop.ua-->
<!--        </a>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href="">Молочні продукти</a>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href="">Йогурти</a>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href="">Вітчизняні</a>-->
<!--    </li>-->
<!--    <li class="active">-->
<!--        Молоко Селянське особливе-->
<!--    </li>-->
<!--</ol><!-- /.breadcrumb -->

<div class="product-container">

    <div class="product-gallery gallery">
        <figure class="image-container">
            <img src="
                <? if (count($goodsImages)): ?><?= base_url() . $goodsImages[0]['path'] ?>
                <? else: ?> <?= base_url() ?>/img/no-image-icon-308-400.png
                <? endif ?>
            " alt="" class="zoom-image img-responsive">
        </figure>
        <? if (count($goodsImages) > 1): ?>
        <ul class="thumbs-list">
            <? foreach ($goodsImages as $image): ?>
                <li>
                    <a href="<?= $image['medium'] ?>">
                        <img src="<?= $image['min'] ?>" class="img-responsive" alt="<?= $goods['title'] ?>">
                    </a>
                </li>
            <? endforeach ?>
        </ul>
        <? endif ?>
    </div><!-- /.product-gallery -->

    <form class="product-info" action="">
        <ul class="nav-tabs" role="tablist">
            <li role="presentation">
                <a class="active" href="#info" aria-controls="info" role="tab">
                    Короткий опис
                </a>
            </li>
            <li role="presentation">
                <a href="#description" aria-controls="description" role="tab">
                    Детальний опис
                </a>
            </li>
        </ul>

        <h1 class="pr-header">
            <?= $goods['title'] ?>
        </h1>
        <div class="pr-code">
            Код товару: <?= $goods['code'] ?>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="info">

                <p class="pr-description">
                    <?= $goods['description'] ?>
                </p>

                <div class="pr-producer">
                    <strong>Виробник:</strong>  <?= $goods['producer'] ?>
                </div>

                <div class="pr-available">
                    <? if ($goods['quantity']): ?>Товар в наявності <? else: ?> Товар відсутній <? endif ?>
                </div>

<!--                <div class="pr-quantity">-->
<!--                    <label for="pr-quantity">Кількість:</label>-->
<!--                    <input id="pr-quantity" type="text" value="1" name="product-quantity"> шт.-->
<!--                </div>-->

                <div class="pr-price">
                    <div class="retail-price">
                        Роздрібна ціна: $ <strong><?= $goods['price'] ?></strong>
                    </div>
<!--                    <div class="more-than">-->
<!--                        Ціна за 10 і більше: <strong>16.00</strong> грн.-->
<!--                    </div>-->
<!--                    <div class="more-than">-->
<!--                        Ціна за 100 і більше: <strong>15.75</strong> грн.-->
<!--                    </div>-->
                </div>

<!--                <div class="total">-->
<!--                    Усього: <strong>192</strong> грн. <span class="detailed">(12 шт. по 16.00 грн.)</span>-->
<!--                </div>-->
            </div>
            <div class="tab-pane" role="tabpanel" id="description">

                <dl class="detailed-list">
                    <? foreach ($goodsDetailed as $detailed): ?>
                    <dt><?= $detailed['title'] ?></dt> <dd><?= $detailed['value'] ?></dd>
                    <? endforeach ?>
                </dl>

            </div>
        </div>

        <input type="hidden" name="product-code" value="25">

        <div class="btn-container">
            <button class="btn btn-lg">
                <span class="icon-shopping-cart" aria-hidden="true"></span>
                У кошик
            </button>
        </div>

    </form><!-- /.product-info -->

</div>