<form id="goods-form" action="<?= url_for('change_password/post') ?>" method="post">

    <div class="form-group <? if (isset($messages['password'])):?>has-error<? endif ?>">
        <label for="password">Поточний пароль:</label>
        <input type="password" class="form-control" id="password" name="password">

        <? if (isset($messages['password'])): ?>
        <span class="help-block">
            <i class="fa fa-exclamation-triangle"></i> <?= reset($messages['password']) ?>
        </span>
        <? endif ?>
    </div>

    <div class="form-group <? if (isset($messages['new_password'])):?>has-error<? endif ?>">
        <label for="new_password">Новий пароль:</label>
        <input type="password" class="form-control" id="new_password" name="new_password">

        <? if (isset($messages['new_password'])): ?>
        <span class="help-block">
            <i class="fa fa-exclamation-triangle"></i> <?= reset($messages['new_password']) ?>
        </span>
        <? endif ?>
    </div>

    <div class="form-group <? if (isset($messages['confirm'])):?>has-error<? endif ?>">
        <label for="confirm">Повторити новий пароль:</label>
        <input type="password" class="form-control" id="confirm" name="confirm">

        <? if (isset($messages['confirm'])): ?>
        <span class="help-block">
            <i class="fa fa-exclamation-triangle"></i> <?= reset($messages['confirm']) ?>
        </span>
        <? endif ?>
    </div>

    <button type="submit" class="btn btn-primary btn-sm">
        Ok <i class="fa fa-check"></i>
    </button>
</form>