<!--<ol class="breadcrumb">-->
<!--    <li>-->
<!--        <a href="/">-->
<!--            <span class="icon-home"></span>-->
<!--            Euroshop.ua-->
<!--        </a>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href="">Молочні продукти</a>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href="">Йогурти</a>-->
<!--    </li>-->
<!--    <li class="active">-->
<!--        Вітчизняні-->
<!--    </li>-->
<!--</ol><!-- /.breadcrumb -->

<div class="catalog-header">
    <h1><?= $catalog['title'] ?></h1>

    <figure class="img-container">
        <img src="
            <? if (isset($catalog['path'])): ?><?= base_url() .$catalog['path'] ?>
            <? else: ?> <?= base_url() ?>/img/no-image-icon-140-130.png
            <? endif ?>
        " alt="<?= $catalog['title'] ?>"
             class="img-responsive">
    </figure>

    <form id="filters-container"
          class="filters-container clearfix"
          method="get"
          action="<?= url_for('catalog/filter', ['id' => $catalog['id'], 'slug' => $catalog['slug']])?>">


        <div class="row">

            <div class="availability-container column">
                <div class="form-header">
                    Наявність:
                </div>

                <div class="form-row">
                    <input id="availability-all" type="radio" name="availability" value="all" checked>
                    <label for="availability-all">Весь товар</label>
                </div>

                <div class="form-row">
                    <input id="availability-available" type="radio" name="availability" value="available">
                    <label for="availability-available">Товар є в наявності</label>
                </div>

                <div class="form-row">
                    <input id="availability-unavailable" type="radio" name="availability" value="unavailable">
                    <label for="availability-unavailable">Товар відсутній</label>
                </div>
            </div><!-- /.column -->

            <div class="price-container column">
                <div class="form-header">Ціна:</div>

                <div class="form-row">
                    <label for="price-from">від</label>
                    <input id="price-from" type="text" name="price-from">
                </div>

                <div class="form-row">
                    <label for="price-until">до</label>
                    <input id="price-until" type="text" name="price-until">
                </div>
            </div><!-- /.column -->

            <div class="container-container column">
                <div class="sort-box-container">
                    <div class="form-header">Сортувати по:</div>

                    <div class="dropdown">
                        <button class="dropdown-btn" type="button" id="sort-by" aria-haspopup="true" aria-expanded="false">
                            Назві - <span class="icon-sort-alpha-asc" aria-hidden="true"></span> <span class="btn-icon icon-chevron-down" aria-hidden="true"></span>
                        </button>

                        <input  type="hidden" name="sortBy" value="title-alpha-asc">

                        <ul class="dropdown-menu" aria-labelledby="sort-by">
                            <li>
                                <a href="/title-asc">
                                    Назві - <span class="item-icon icon-sort-alpha-asc"></span>
                                </a>
                            </li>
                            <li>
                                <a href="/title-desc">
                                    Назві - <span class="item-icon icon-sort-alpha-desc"></span>
                                </a>
                            </li>
                            <li>
                                <a href="/price-asc">
                                    Ціні - <span class="item-icon icon-sort-numeric-asc"></span>
                                </a>
                            </li>
                            <li>
                                <a href="/price-desc">
                                    Ціні - <span class="item-icon icon-sort-numberic-desc"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="amount-per-page-box-container clearfix">
                    <div class="form-header">Показати товарів на сторінці:</div>

                    <div class="dropdown">
                        <button class="dropdown-btn" type="button" id="per-page" aria-haspopup="true" aria-expanded="false">
                            12 <span class="icon-chevron-down" aria-hidden="true"></span>
                        </button>

                        <input  type="hidden" name="perPage" value="12">

                        <ul class="dropdown-menu" aria-labelledby="per-page">
                            <li>
                                <a href="/12">
                                    12
                                </a>
                            </li>
                            <li>
                                <a href="/24">
                                    24
                                </a>
                            </li>
                            <li>
                                <a href="/36">
                                    36
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div><!-- /.column -->
        </div><!-- /.row -->

        <div class="submit-container">
            <button class="btn btn-sm" type="submit">
                <span class="icon-check" aria-hidden="true"></span>
                Застосувати
            </button>
        </div>
    </form>

</div><!-- /.catalog-header -->

<? if (count($catalog['children'])): ?>

    <div class="catalog-subcategory carousel-container">
        <div class="list-header-pane">
            <div class="navigation">
                <a class="carousel-control prev hide-text icon-chevron-small-left" href="#"
                   rel="nofollow" role="button" data-slide="prev">
                    Previous
                </a>
                <a class="carousel-control next hide-text icon-chevron-small-right" href="#"
                   rel="nofollow" role="button" data-slide="next">
                    Next
                </a>
            </div>

            <h1 class="list-header">
                <span class="icon-flow-tree" aria-hidden="true"></span>
                Підкатегорії
            </h1>
        </div><!-- /.list-header-pane -->

        <div class="carousel-wrapper">

            <ul class="carousel subcategory-list" data-type="row">

                <? foreach ($catalog['children'] as $child): ?>
                <li class="item">
                    <a href="<?= url_for('catalog',['id' => $child['id'], 'slug' => $child['slug']]) ?>">

                        <img src="
                            <? if (isset($child['path'])): ?><?= base_url() . $child['path'] ?>
                            <? else: ?> <?= base_url() ?>/img/no-image-icon-140-130.png
                            <? endif ?>
                        " alt="<?= $child['title'] ?>" class="img-responsive">

                        <span class="center-block"><?= $child['title'] ?></span>
                    </a>
                </li>
                <? endforeach ?>

            </ul><!-- /.carousel -->
        </div>
    </div><!-- .catalog-subcategory -->

<? endif ?>

<? if ($goods -> count()): ?>

    <div  class="list-view-pane">
        <div class="pane-header">
            Вид:
        </div>
        <ul>
            <li>
                <a class="icon-grid hide-text active" href="#" title="Таблиця"
                   rel="nofollow" data-target-class="products-list-row">
                    Таблиця
                </a>
            </li>
            <li>
                <a class="icon-list hide-text" href="#" title="Список"
                   rel="nofollow" data-target-class="products-list-column">
                    Список
                </a>
            </li>
        </ul>
    </div><!-- /.list-view-pane -->

    <? if ($goods -> getItemCountPerPage() < $goods -> getTotalItemCount()): ?>
    <?= widget(
        'goods.pagination',
        $goods,
        'index/widget/pagination',
        [
            'id'    => $catalog['id'],
            'slug'  => $catalog['slug'],
            'queryParams' => isset($queryParams) ? $queryParams : []
        ]
    ) ?>
    <? endif ?>

    <div class="products-list-container">
        <? foreach ($goods as $idx => $g): ?>
            <? if ($idx == 0): ?>
            <ul class="products-list-row">
                <li class="pr-item">

            <? elseif ($idx % 4 == 0): ?>
                </li>
            </ul>
            <ul class="products-list-row separator">
                <li class="pr-item">

            <? else: ?>
                </li>
                <li class="pr-item">

            <? endif ?>

                    <figure class="pr-image-container">
                        <img class="img-responsive" src="
                            <? if (isset($g['image_min'])): ?><?= base_url() . $g['image_min'] ?>
                            <? else: ?> <?= base_url() ?>/img/no-image-icon-70-91.png
                            <? endif ?>
                        " alt="<?= $g['title'] ?>">
                    </figure>
                    <div class="middle-section">
                        <h1 class="pr-header">
                            <a href="<?= url_for('product', ['id' => $g['id'], 'slug' => $g['slug']]) ?>"><?= $g['title'] ?></a>
                            <span class="pr-code">Код: <strong><?= $g['code'] ?></strong></span>
                        </h1>
                        <p class="pr-description">
                            <?= $g['description'] ?>
                        </p>
                        <div class="pr-producer">
                            <strong>Виробник:</strong> <?= $g['producer'] ?>
                        </div>
                    </div>
                    <div class="third-section">
                        <div class="pr-available">
                            <? if ($g['quantity']): ?>Товар в наявності<? else: ?>Товар відсутній<? endif ?>
                        </div>
                        <div class="pr-price">
                            $ <?= $g['price'] ?>
                        </div>

                        <? if ($g['quantity']): ?>
                        <div class="btn-container">
                            <a href="#" class="btn btn-lg">
                                <span class="icon-shopping-cart" aria-hidden="true"></span>
                                У кошик
                            </a>
                        </div>
                        <? endif ?>
                    </div>
        <? endforeach ?>
                </li>
            </ul>
    </div><!-- /.products-list-container -->

<? endif ?>