<!DOCTYPE html>
<html>
<head>
    <title>Admin dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,follow">
    <?= capture_content() -> toString('headMeta') ?>

    <!--    <link rel="shortcut icon" href="">-->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="<?= base_url() ?>/css/bootstrap.css" rel="stylesheet">
    <link href="<?= base_url() ?>/css/styles.css" rel="stylesheet">

    <?= capture_content() -> toString('headStyle') ?>
    <?= capture_content() -> toString('headScript') ?>
</head>
<body>

    <aside class="sliding-panel">
        <ul id="sliding-panel-controls" class="controls">
            <li class="hide-btn-container close-container">
                <a class="fa hand-o-left" href="#" data-action="hide" title="Сховати"></a>
            </li>
            <li class="show-btn-container">
                <a class="control" href="#" data-action="show" title="Навігація"><i class="fa fa-bars"></i></a>
            </li>
        </ul>
        
        <nav class="main-nav">

            <ul class="nav admin-navigation bottom-divider">
                <li>
                    <a href="<?= url_for('home') ?>"><i class="fa fa-home"></i> На сайт</a>
                </li>
                <li>
                    <a href="<?= url_for('logout') ?>"><i class="fa fa-sign-out"></i> Вийти</a>
                </li>
            </ul>

            <?= widget('admin.navigation') ?>
        </nav>
    </aside>

    <div class="content-container">
        <?= $content ?>
    </div>

    <script src="<?= base_url() ?>/scripts/main.js"></script>
    <?= capture_content() -> toString('bottomScript') ?>
</body>
</html>