<? capture_content() -> start('bottomScript'); ?>

<script src="<?= base_url() ?>/scripts/catalog.js">"></script>

<? capture_content() -> end(); ?>

<div class="tree-container clearfix">
    <form action="" class="search-container">
        <input type="search" id="search-field" placeholder="Пошук">
        <button type="submit" class="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>

    <ul id="tree" class="tree">
        <li class="root-container expand" data-cat-id="0">
            <span class="root-title">...</span>
            <ul>
                <? foreach ($catalogs as $catalog): ?>

                <li class="node-container" data-cat-id="<?= $catalog['id'] ?>">
                    <span class="container-title" title="<?= $catalog['title'] ?>"><?= $catalog['title'] ?></span>
                    <ul></ul>
                </li>

                <? endforeach ?>
            </ul>
        </li>
    </ul>
</div>

<div class="content-area">

    <div id="catalog" class="hidden">

        <div class="close-container">
            <a class="fa hand-o-left" href="#" title="Сховати">
            </a>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a href="#catalog-view" aria-controls="catalog-view" role="tab" data-action="catalog_view">
                    <i class="fa fa-eye"></i> Переглянути
                </a>
            </li>
            <li role="presentation">
                <a href="#catalog-form" aria-controls="catalog-form" role="tab" data-action="catalog_add">
                    <i class="fa fa-plus-square-o"></i> Додати
                </a>
            </li>
            <li role="presentation">
                <a href="#catalog-form" aria-controls="catalog-form" role="tab" data-action="catalog_edit">
                    <i class="fa fa-pencil-square-o"></i> Редагувати
                </a>
            </li>
            <li role="presentation">
                <a href="#catalog-delete" aria-controls="catalog-delete" role="tab" data-action="catalog_delete">
                    <i class="fa fa-trash-o"></i> Видалити
                </a>
            </li>
            <li role="presentation">
                <a href="#goods-list" aria-controls="goods-list" role="tab" data-action="goods_list_view">
                    <i class="fa fa-list-ul"></i> Список товарів
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="catalog-form">

                <div id="catalog-manipulate-data" class="clearfix">

                    <ul class="nav nav-pills nav-stacked" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#catalog-data" aria-controls="catalog-data" role="tab" data-action="catalog_data">
                                <i class="fa fa-file-text-o"></i> Опис
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#catalog-gallery" aria-controls="catalog-gallery" role="tab" data-action="catalog_gallery">
                                <i class="fa fa-file-image-o"></i> Галерея
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="catalog-data" class="tab-pane" role="tabpanel">

                            <form class="form" id="catalog-form-form" action="">
                                <div class="form-group">
                                    <label for="inputTitle">Назва:</label>
                                    <input name="title" type="text" class="form-control" id="inputTitle" autocomplete="off">
                                </div>

                                <input type="hidden" name="parent_id">
                                <input type="hidden" name="id">

                                <button type="submit" class="btn btn-primary btn-sm">
                                    Ok <i class="fa fa-check"></i>
                                </button>
                            </form>

                        </div>

                        <div id="catalog-gallery" class="tab-pane" role="tabpanel">

                            <form class="form clearfix" id="catalog-upload-form" enctype="multipart/form-data" method="post">

                                <div class="pull-left img-container blank-img">
                                    <img src="" alt="" class="img-responsive img-rounded" width="140" height="130">
                                </div>

                                <div class="pull-right">
                                    <div class="form-group">
                                        <label for="inputImage">Завантажити зображення:</label>
                                        <input name="image" type="file" id="inputImage">
                                    </div>

                                    <input name="catalog_id" type="hidden">

                                    <p>
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            Ok <i class="fa fa-check"></i>
                                        </button>
                                    </p>

                                    <p class="delete-btn-box">
                                        <button type="button" class="btn btn-danger btn-sm">
                                            Видалити <i class="fa fa-trash-o"></i>
                                        </button>
                                    </p>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="catalog-view">

                <div class="pull-right img-container blank-img">
                    <img src="" alt="" class="img-responsive img-rounded hidden" width="140" height="130">
                </div>

                <table class="table table-striped">
                    <tbody>

                    </tbody>
                </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="catalog-delete">
                <p class="alert alert-danger align-center msg-text" role="alert">
                    <strong>Увага!</strong> Ви дійсно хочете видалити цей елемент?
                </p>
                <p class="align-center">
                    <a class="btn btn-danger" href="#delete" role="button">
                        <i class="fa fa-trash-o"></i> Видалити
                    </a>
                </p>

            </div>

            <div role="tabpanel" class="tab-pane" id="goods-list">

                <div id="goods" class="hidden">

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation">
                            <a href="#goods-list" aria-controls="goods-list" role="tab" data-action="goods_list">
                                <i class="fa fa-list-ul"></i> Список товарів
                            </a>
                        </li>
                        <li role="presentation" class="hidden">
                            <a href="#goods-view" aria-controls="goods-view" role="tab" data-action="goods_view">
                                <i class="fa fa-eye"></i> Переглянути товар
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#goods-form-panel" aria-controls="goods-form-panel" role="tab" data-action="goods_add">
                                <i class="fa fa-plus-square-o"></i> Додати товар
                            </a>
                        </li>
                        <li role="presentation" class="hidden">
                            <a href="#goods-form-panel" aria-controls="goods-form-panel" role="tab" data-action="goods_edit">
                                <i class="fa fa-plus-square-o"></i> Редагувати товар
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#catalog-view" aria-controls="catalog-view" role="tab" data-action="catalog_view">
                                <i class="fa fa-folder-open"></i> У каталог
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="goods-list">

                            <div id="goods-grid">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                Назва товару
                                            </td>
                                            <td>
                                                Ціна
                                            </td>
                                            <td>
                                                Кількість
                                            </td>
                                            <td>
                                                Дії
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>

                            </div>

                            <div id="goods-delete" class="hidden">
                                <p class="alert alert-danger align-center msg-text" role="alert">
                                    <strong>Увага!</strong> Ви дійсно хочете видалити цей елемент?
                                </p>
                                <p class="align-center">
                                    <a class="btn btn-default" href="#cancel" role="button">
                                        <i class="fa fa-times-circle"></i> Відмінити
                                    </a>
                                    <a class="btn btn-danger" href="#delete" role="button">
                                        <i class="fa fa-trash-o"></i> Видалити
                                    </a>
                                </p>
                            </div>
                        </div><!-- /#goods-list -->

                        <div role="tabpanel" class="tab-pane" id="goods-view">
                            <div class="goods-view-wrapper">
                                <table class="table table-striped">
                                    <tbody>

                                    </tbody>
                                </table>
                                <div class="close-box">
                                    <a class="edit-btn" href="#edit" title="Редагувати">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="goods-form-panel">

                            <div id="goods-manipulate-data">
                                <ul class="nav nav-pills nav-stacked" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#goods-data" aria-controls="goods-data" role="tab" data-action="goods_data">
                                            <i class="fa fa-file-text-o"></i> Опис
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#goods-detailed-data" aria-controls="goods-detailed-data" role="tab" data-action="goods_detailed_data">
                                            <i class="fa fa-file-text"></i> Детальний опис
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#goods-gallery" aria-controls="goods-gallery" role="tab" data-action="goods_gallery">
                                            <i class="fa fa-file-image-o"></i> Галерея
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="goods-data" class="tab-pane" role="tabpanel">

                                        <form id="goods-form" action="">
                                            <div class="form-group">
                                                <label for="title">Назва:</label>
                                                <input type="text" class="form-control" id="title" name="title" autocomplete="off">
                                            </div>

                                            <div class="form-group">
                                                <label for="description">Опис:</label>
                                                <textarea class="form-control" id="description" name="description" rows="5"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label for="shortDescription">Короткий опис:</label>
                                                <textarea class="form-control" id="shortDescription" name="short_description" rows="3"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label for="producer">Виробник:</label>
                                                <input type="text" class="form-control" id="producer" name="producer" autocomplete="off">
                                            </div>

                                            <div class="form-group">
                                                <label for="price">Ціна:</label>
                                                <input type="text" class="form-control" id="price" name="price" autocomplete="off" placeholder="000 000.00">
                                            </div>

                                            <div class="form-group">
                                                <label for="quantity">Кількість:</label>
                                                <input type="text" class="form-control" id="quantity" name="quantity" autocomplete="off">
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="is_top"> Лідер продаж
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="is_index_carousel"> Додати до каруселі (на головній сторінці)
                                                </label>
                                            </div>

                                            <input name="id" type="hidden">
                                            <input name="catalog_id" type="hidden">

                                            <button type="submit" class="btn btn-primary btn-sm">
                                                Ok <i class="fa fa-check"></i>
                                            </button>
                                        </form>

                                    </div><!--/.goods-data-->
                                    <div id="goods-detailed-data" class="tab-pane" role="tabpanel">

                                        <div id="detailed-grid">
                                            <table class="detailed-table table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Назва</th>
                                                        <th>Значення</th>
                                                        <th>Дії</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>

                                            <div class="actions pull-right">
                                                <a class="add-btn btn btn-default btn-sm" href="#">
                                                    <i class="fa fa-plus-square-o"></i> Додати
                                                </a>
                                            </div>

                                            <form id="detailed-form" class="form-inline hidden" action="">
                                                <div class="form-group">
                                                    <label class="sr-only" for="detailed-title">Назва</label>
                                                    <input type="text" class="form-control" id="detailed-title" name="title" placeholder="Назва" autocomplete="off">
                                                </div>

                                                <div class="form-group">
                                                    <label class="sr-only" for="detailed-value">Значення</label>
                                                    <input type="text" class="form-control" id="detailed-value" name="value" placeholder="Значення" autocomplete="off">
                                                </div>

                                                <input type="hidden" name="id" value="">
                                                <input type="hidden" name="goods_id" value="">

                                                <button type="submit" class="btn btn-primary btn-sm">
                                                    Ok <i class="fa fa-check"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-sm">
                                                    Відмінити <i class="fa fa-times-circle"></i>
                                                </button>
                                            </form>
                                        </div>

                                        <div id="detailed-delete" class="hidden">
                                            <p class="alert alert-danger align-center msg-text" role="alert">
                                                <strong>Увага!</strong> Ви дійсно хочете видалити цей елемент?
                                            </p>
                                            <p class="align-center">
                                                <a class="btn btn-default" href="#cancel" role="button">
                                                    <i class="fa fa-times-circle"></i> Відмінити
                                                </a>
                                                <a class="btn btn-danger" href="#delete" role="button">
                                                    <i class="fa fa-trash-o"></i> Видалити
                                                </a>
                                            </p>

                                        </div>

                                    </div>
                                    <div id="goods-gallery" class="tab-pane" role="tabpanel">

                                        <form class="form" id="goods-gallery-form" enctype="multipart/form-data" method="post">

                                                <div class="form-group">
                                                    <label for="inputImage">Завантажити зображення:</label>
                                                    <input name="image" type="file" id="inputImage">
                                                </div>

                                                <input type="hidden" name="goods_id">

                                                <p>
                                                    <button type="submit" class="btn btn-primary btn-sm">
                                                        Ok <i class="fa fa-check"></i>
                                                    </button>
                                                </p>
                                        </form>

                                        <div id="goods-gallery-list" class="row">
                                            <p class="delete-btn-box">
                                                <a class="btn btn-default btn-sm expand-btn disabled" href="#show" role="button">
                                                    <i class="fa fa-expand"></i> Збільшити
                                                </a>
                                                <a class="btn btn-danger btn-sm delete-btn disabled" href="#delete" role="button">
                                                    <i class="fa fa-trash-o"></i> Видалити
                                                </a>
                                            </p>

                                            <ul class="gallery-list"></ul>

                                        </div>

                                    </div>
                                </div><!--/.tab-content -->
                            </div><!--/#goods-add-data-->

                        </div><!-- /#goods-add -->
                    </div><!-- /.tab-content -->
                </div><!-- /#goods -->

            </div><!--/#goods-list -->
        </div><!-- /.tab-content -->

    </div><!-- /#catalog -->

</div><!-- /.content-area -->

