#catalog .close-container {
  margin-top: 12px;
  margin-left: 6px;
}

.nav.nav-tabs {
  margin: -6px 0 0 30px;
}


.nav-tabs > li > a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-radius: 0;
  border-top: 1px solid #fff;
}

.nav-tabs .disabled {
  background-color: transparent !important;
  color: #aaa;
  cursor: default;
  outline: 0;

  &:hover, &:focus {
    border-color: transparent;
    background-color: transparent !important;
  }
}

.tab-content {
  padding: 0 20px 0 32px;

  .tab-pane {
    padding-top: 30px;

    .nav.nav-pills.nav-stacked {
      float: left;
      margin: 0 0 0 -32px;

      &+.tab-content {
        margin-left: 120px;

        .tab-pane {
          padding-top: 0;
        }
      }
    }
  }
}

#catalog-manipulate-data > .nav.nav-pills.nav-stacked {
  margin: 0;
}

.align-center {
  text-align: center;
}

#catalog-gallery .img-container {
  border: 1px solid #eee;
  border-radius: 4%;
  height: 130px;
  width: 140px;
}

#catalog-view {
  table {
    .calc(width, '100% - 150px');
    margin-top: 5px;
  }

  .img-container {
    border: 1px solid #eee;
    border-radius: 4%;
    height: 130px;
    margin-left: 10px;
    width: 140px;
  }
}

#goods-gallery {

  #goods-gallery-list {
    margin-top: -40px;
  }

  .delete-btn-box {
    text-align: right;
  }

  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;

    li {
      margin: 10px;
    }

    a {
      &:hover {
        border-color: #ddd;
      }
      &.active:hover {
        border-color: #337ab7;
      }
    }

    img {
      display: inline-block;
      height: 91px;
      width: 70px;

      &:hover {
        opacity: 0.3;
      }
    }
  }
}

#goods-view {
  .goods-view-wrapper {
    display: flex;

    .close-box {
      font-size: 1.2em;
      margin-left: 10px;
    }
  }
}

