<?
    header($_SERVER["SERVER_PROTOCOL"]." 500 Internal Server Error");
?>
<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>500 Internal Server Error</title>
    </head>

    <body>
        <h1>500 Internal Server Error</h1>
        <p>
            Something was wrong :(
        </p>
    </body>
</html>