.carousel-container {

  .carousel-wrapper {
    overflow: hidden;
  }

  .carousel {
    margin: 0;
    padding: 20px 0;
    position: relative;
    transform: translate3d(0, 0, 0);
    width: 9999px;

    &.separator {
      border-top: 1px solid @color-separator;
    }

    .item {
      border-left: 1px solid @color-separator;
      display: inline-block;
      height: 330px;
      vertical-align: top;
      width: 160px;
      width: 50vw;

      @media (min-width: @screen-480-min) {
        width: 160px;
        width: 33.29vw;
      }

      @media (min-width: @screen-768-min) {
        width: 174px;
        width: 23vw;
      }

      @media (min-width: @screen-992-min) {
        width: 220px;
        width: 23vw;
      }

      @media (min-width: @screen-1200-min) {
        width: 202px;
        width: 16vw;

      }

      &+.item+.item+.item+.item {
        visibility: hidden;
      }

      &:first-child {
        border: 0;
      }
    }

    .image-container {
      margin: 0;
      text-align: center;
      width: 100%;
    }

    .pr-header {
      margin-bottom: 0;
      font-size: unit(18/@base-font-size, em);

      a {
        color: @color-secondary;
        display: block;
        font-size: 1em;
        padding: 3px 0;
        text-align: center;
        text-decoration: none;
        .text-overflow();
      }
    }

    .pr-code {
      display: block;
      font-size: 0.8em;
      text-align: center;
      padding-bottom: 8px;
    }

    .pr-description {
      color: @color-basic-text;
      font-size: unit(14/@base-font-size, em);
      //height: 64px;
      line-height: 1.2em;
      margin: 0 auto 0;
      text-align: center;
      width: 80%;
    }

    .pr-producer {
      &:extend(.carousel-container .carousel .pr-description);
      padding-top: 1px;
      white-space: nowrap;
      strong {
        font-family: @base-font-family-bold;
      }
    }

    .pr-available {
      &:extend(.carousel-container .carousel .pr-description);
      background: @color-product-available-bg;
      color: @color-basic-text;
      font-size: unit(14/@base-font-size, em);
      line-height: 1em;
      margin-top: 6px;
      padding: 2px 0;
      width: 126px;

      &.unavailable {
        color: #d9534f;
      }
    }

    .pr-price {
      color: @color-price-text;
      font-family: @base-font-family-bold;
      font-size: unit(18/@base-font-size, em);
      padding-top: 4px;
      text-align: center;
    }

    .pr-old-price {
      &:extend(.carousel-container .carousel .pr-description);
      text-decoration: line-through;
      font-family: @base-font-family;
      font-size: unit(14/18, em);
    }

    .btn-container {
      margin-top: 8px;
      text-align: center;
      width: 100%;

      .btn {
        font-size: unit(16/@base-font-size, em);
        line-height: unit(@btn-lg-height/16, em);
        letter-spacing: 0.5px;
        width: 148px;
      }
    }

  }
}

.carousel-container  .pr-description {
  height: 64px;
}

.products-list-row {
  &:extend(.carousel-container .carousel all);

  width: 100%;

  @media(min-width: @screen-1024-min) {
    white-space: nowrap;
  }

  .pr-item {
    &:extend(.carousel-container .carousel .item);

    white-space: normal;
    width: 158px;
    width: 49vw;

    @media (min-width: @screen-480-min) {
      width: 238px;
      width: 49vw;
    }

    @media (min-width: @screen-768-min) {
      width: 258px;
      width: 33vw;
    }

    @media (min-width: @screen-1024-min) {
      width: 170px;
      width: 16.7vw;
    }

    @media (min-width: @screen-1200-min) {
      width: 215px;
    }

    &:first-child {
      border-left: none;
    }

    &:nth-of-type(3n) {

      @media (max-width: @screen-768-max) {
        border-left: none;
      }

    }
  }

  .pr-image-container {
    margin: 0;
    text-align: center;
  }

  .pr-description {
    height: 64px;
  }
}

.products-list-column {
  &:extend(.carousel-container .carousel all);
  width: 100%;

  .pr-item {
    &:extend(.carousel-container .carousel .item);
    border-left: 0;
    border-top: 1px solid @color-separator;
    height: 100%;
    padding-bottom: 20px;
    padding-top: 30px;
    width: 100%;

    &:first-child {
      border-top: 0;
    }
  }

  .pr-image-container {
    float: left;
    margin: 0;
    text-align: center;
    width: 21%;
  }

  .middle-section {
    border-left: 1px solid @color-separator;
    border-right: 1px solid @color-separator;
    float: left;
    padding: 0 20px 0 40px;
    width: 33%;
  }

  .third-section {
    float: left;
    padding-left: 40px;
    width: 36%;
  }

  .pr-header, .pr-header a, .pr-description, .pr-producer, .pr-available, .pr-price, .btn-container {
    text-align: left;
    margin: 0;
    width: 100%;
  }

  .pr-description {
    height: 64px;
  }

  .pr-producer {
    margin-top:6px;
  }

  .pr-available {
    background: #fff;
    font-size: unit(16/@base-font-size, em);
  }

  .pr-price {
    margin-top: 10px;
  }

  .btn-container {
    margin-top: 26px;
  }
}
