.dropdown-multiple {
  position: relative;

  &.open {
    .dropdown-menu-multiple {
      display: block;
    }
  }

  .dropdown-menu-multiple {
    background: @color-main;
    border: 2px solid @color-form-control-border;
    display: none;
    padding: 5px 20px 10px 20px;
    margin: 0;
    position: absolute;
    top: 0;
    z-index: 1000;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      padding: 2px 0;
    }

    input {
      font-size: @base-dropdown-font-size;
      height: @base-dropdown-multiply-item-height;
      line-height: unit(@base-dropdown-multiply-item-height/@base-dropdown-multiply-font-size, em);
      vertical-align: top;
    }

    label {
      &:extend(.dropdown-multiple .dropdown-menu-multiple input);
      margin-left: 10px;
    }

    .dropdown-btn-container {
      margin-top: 4px;
      text-align: center;
      width: 100%;

      button {
        background: @color-main;
        border: 2px solid @color-form-control-border;
        border-radius: 2px;
        font-size: @base-dropdown-font-size;
        padding: 4px 10px;
      }
    }
  }
}