.list-header-pane {
  position: relative;

  .list-header {
    border-bottom: 1px solid @color-list-header-border-bottom;
    color: @color-header;
    font-size: (unit(18/@base-font-size, em));
    padding: 0 0 4px 10px;
    text-align: left;
    vertical-align: middle;
    user-select: none;
    white-space: nowrap;

    [class^="icon-"], [class*=" icon-"] {
      font-size: 1em;
      margin-right: 3px;
      position: relative;
      top: 1px;
    }
  }

  .navigation {
    margin-right: 10px;
    position: absolute;
    right: 0;

    .next, .prev {
      color: @color-header;
      display: block;
      float: left;
      font-size: 1.5em;
      height: 30px;
      outline: 0;
      text-decoration: none;
      width: 16px;

      &:hover {
        color: @color-button-bg;
      }

      &:before {
        display: block;
        font-size: 1em;
        height: 100%;
        text-indent: 0;
      }
    }

  }
}