.pagination {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    background-color: @color-main;
    border: 1px solid @color-pane-border;
    color: @color-secondary;
    display: block;
    float: left;
    font-size: unit(16/@base-font-size, em);
    height: @base-pagination-height;
    line-height: unit(@base-pagination-height/16, em);
    margin-left: -2px;
    margin-right: -2px;
    outline: 0;
    padding: 0 12px;
    position: relative;
    text-decoration: none;
  }

}