fieldset {
  padding: 0;
  margin: -6px 0 0 30px;
  border: 0;
}

.form-control {
  border-radius: 0;
}

.help-block .fa {
  margin-right: 6px;
}

#goods-form {
  min-width: 480px;
}

#detailed-form .has-error {
  display: block;
}



