.main-nav {
  margin-top: 10px;

  .nav {
    list-style: none;
    padding: 10px 20px 10px 10px;
    margin: 0 0 0 30px;
    width: 240px;

    a {
      border-radius: 4px;
      color: #7b8994;
      font: 400 14px 'Open Sans', sans-serif;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      white-space: nowrap;
      display: block;
      line-height: 32px;
      height: 32px;
      padding: 0 0 0 10px;

      &:hover {
        color: #007ee5;
      }

      &.active {
        color: #007ee5;
      }

      .fa {
        display: inline-block;
        font-size: 18px;
        height: 16px;
        line-height: 14px;
        margin-right: 6px;
        text-align: right;
        vertical-align: middle;
        width: 32px;
      }
    }
  }

  .bottom-divider {
    border-bottom: 1px solid #ccc;
  }
}
