.sliding-panel {
  background: #f6f8fa;
  border-right: 2px solid #ececec;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -268px;
  width: 304px;

  &.open {
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  .close-container {
    margin-right: 14px;
  }

  .controls {
    float: right;
    list-style: none;
    margin: 0;
    padding: 6px 0 0;

    .control {
      color: #7b8994;
      margin: 0 4px;
      padding: 6px;

      &:hover {
        color: #337ab7;
      }

      .close {
        border-color: #D3D3D4;

        :hover {
          border-color: #337ab7;
        }
      }
    }

    .hide-btn-container {
      display: none;
    }
  }

  &.open {
    .controls {
      .hide-btn-container {
        display: block;
      }

      .show-btn-container {
        display: none;
      }
    }

  }
}

@import url('sliding-panel/navigation');